<br /><br /><br />
<div class="h-100 row text-light parent">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <h1>{{message}}</h1>
            <br />
            <p>Take a look at these "random" movies</p>
            <br />
            {{#each someMovies}}
                <div class="card bg-light text-dark text-center mx-auto" style="width: 50em;">
                    <div class="card-header">
                        {{ this.title }}
                    </div>
                    {{!-- <img class="card-img-top" src="{{moviePoster}}" alt="Poster Image" --}}
                    <div class="card-body">
                        <p class="card-text">IMdb ID: {{ this.imdb_title_id }}</p>
                        <a href="/browse/view?key={{ this.imdb_title_id }}" class="btn btn-primary">View Movie</a>
                    </div>
                </div>
                <br />
            {{else}}
                <h3>Sorry bud, we messed up somewhere :(</h3>
            {{/each}}
        </div>
    </div>
</div>