<div class="h-100 row text-light">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <h1>{{message}}</h1>
            <br /><br />
            <p>Take a look at these "random" movies</p>
            <br />
            {{#each someMovies}}
                <div class="card text-dark">
                    <div class="card-header">
                        {{ this.movieTitle }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">IMdb ID: {{ this.movieID }}</p>
                        <a href="/view?key={{ this.movieID }}" class="btn btn-primary">View Movie</a>
                    </div>
                </div>
                <br />
            {{else}}
                <h3>Sorry bud, we messed up somewhere :(</h3>
            {{/each}}
        </div>
    </div>
</div>