<br /><br /><br />
<div class="h-100 row text-light parent">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            {{#each theMovie}}
            <div class="card bg-light text-dark text-center mx-auto">
                <div class="card-header">
                    {{ this.title }}
                </div><br />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img class="card-img-top" src="{{../moviePoster}}" alt="Poster Image"
                                style="width: 30em; height: auto;" />
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Year</th>
                                            <td>{{ this.year }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Genre</th>
                                            <td>{{ this.genre }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Duration</th>
                                            <td>{{ this.duration }} minutes</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Country</th>
                                            <td>{{ this.country }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Language</th>
                                            <td>{{ this.language }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Director</th>
                                            <td>{{ this.director }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Writer</th>
                                            <td>{{ this.writer }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Actors</th>
                                            <td>{{ this.actors }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Description</th>
                                            <td>{{ this.description }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{else}}
                                <h3 class="card-text">Sorry bud, can't find what you want :(</h3>
                            </div>
                            {{/each}} <br />
                            <a href="./" class="btn btn-danger">
                                <!--<img src="https://svgshare.com/i/KL6.svg" alt="back icon" class="d-inline-block"
                                    width="20" height="20" /> -->
                                Go Back</a>
                            <a href="https://www.imdb.com/title/{{key}}" class="btn btn-warning">IMDb
                                Page</a>
                            <a href="#" class="btn btn-success">Mine Movie</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>